@media (max-width: 1589px) and (min-width: 1200px){
	.container-service .block-toggle {
	    min-height: 490px;
	}
	.container-service .block-toggle .expander {
	    min-height: 284px;
	}
}

@media (min-width: 1589px) {
	.container-service .block-toggle {
	    min-height: 692px;
	}
}


.container-service .block-toggle {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}