@media screen and (min-width: 1590px) {
  /* line 108, ../sass/_variables.scss */
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  /* line 108, ../sass/_variables.scss */
  html {
    font-size: 14px;
  }
}

/* #Variable Definitions
================================================== */
/* Fluid Grid
  $grid-width: 100%;
  $totals-columns: 12;
  $margin: 1%;
*/
/* Mixin Media Queries
================================================== */
/*  @mixin wide-screen {
    @media only screen and (min-width: $wide-screen-width) { @content; }
  }
  @mixin desktop {
    @media only screen and (min-width: $base-width) and (max-width: $wide-screen-widt - 1) { @content; }
  }*/
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
/* Mixin container width
================================================== */
/* line 18, ../sass/_responsive-visibility.scss */
.visible-xs {
  display: none !important;
}

/* line 18, ../sass/_responsive-visibility.scss */
.visible-sm {
  display: none !important;
}

/* line 18, ../sass/_responsive-visibility.scss */
.visible-md {
  display: none !important;
}

/* line 18, ../sass/_responsive-visibility.scss */
.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 7, ../sass/_responsive-visibility.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 10, ../sass/_responsive-visibility.scss */
  table.visible-xs {
    display: table;
  }

  /* line 11, ../sass/_responsive-visibility.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 12, ../sass/_responsive-visibility.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 991px) {
  /* line 7, ../sass/_responsive-visibility.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 10, ../sass/_responsive-visibility.scss */
  table.visible-sm {
    display: table;
  }

  /* line 11, ../sass/_responsive-visibility.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 12, ../sass/_responsive-visibility.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) and (max-width: 1199px) {
  /* line 7, ../sass/_responsive-visibility.scss */
  .visible-md {
    display: block !important;
  }

  /* line 10, ../sass/_responsive-visibility.scss */
  table.visible-md {
    display: table;
  }

  /* line 11, ../sass/_responsive-visibility.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 12, ../sass/_responsive-visibility.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1590px) {
  /* line 7, ../sass/_responsive-visibility.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 10, ../sass/_responsive-visibility.scss */
  table.visible-lg {
    display: table;
  }

  /* line 11, ../sass/_responsive-visibility.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 12, ../sass/_responsive-visibility.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1590px) {
  /* line 44, ../sass/_responsive-visibility.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1590px) {
  /* line 49, ../sass/_responsive-visibility.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1590px) {
  /* line 54, ../sass/_responsive-visibility.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 18, ../sass/_responsive-visibility.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 991px) {
  /* line 18, ../sass/_responsive-visibility.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1199px) {
  /* line 18, ../sass/_responsive-visibility.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1590px) {
  /* line 18, ../sass/_responsive-visibility.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 48, sprite/*.png */
.sprite-sprite {
  background-image: url('../images/sprite-s10a72a6405.png');
  background-repeat: no-repeat;
}

/* line 48, sprite2x/*.png */
.sprite2x-sprite {
  background-image: url('../images/sprite2x-s4df52e002a.png');
  background-repeat: no-repeat;
}

/* line 1, ../sass/_button.scss */
.btn, .read-more .more-link,
.read-more .less-link,
.read-less .more-link,
.read-less .less-link {
  padding: 0.5rem 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #070707;
}

/* line 11, ../sass/_button.scss */
.btn-outline, .read-more .more-link,
.read-more .less-link,
.read-less .more-link,
.read-less .less-link {
  border: solid 1px #070707;
}
/* line 13, ../sass/_button.scss */
.btn-outline:hover, .read-more .more-link:hover,
.read-more .less-link:hover,
.read-less .more-link:hover,
.read-less .less-link:hover {
  background: #070707;
  color: #fff;
  border: solid 1px #070707;
}

/* line 20, ../sass/_button.scss */
.read-more,
.read-less {
  display: inline !important;
  margin-top: 1rem;
}
/* line 24, ../sass/_button.scss */
.read-more .more-link,
.read-more .less-link,
.read-less .more-link,
.read-less .less-link {
  margin-right: 0.5rem;
  display: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?gs9sw4");
  src: url("../fonts/icomoon.eot?gs9sw4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gs9sw4") format("truetype"), url("../fonts/icomoon.woff?gs9sw4") format("woff"), url("../fonts/icomoon.svg?gs9sw4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_fonts.scss */
.icon-local:before {
  content: "\e90b";
}

/* line 29, ../sass/_fonts.scss */
.icon-faq-person:before {
  content: "\e908";
}

/* line 32, ../sass/_fonts.scss */
.icon-service-local:before {
  content: "\e909";
}

/* line 35, ../sass/_fonts.scss */
.icon-help-contact:before {
  content: "\e90a";
}

/* line 38, ../sass/_fonts.scss */
.icon-logo-mjl-mobile:before {
  content: "\e907";
}

/* line 41, ../sass/_fonts.scss */
.icon-blog:before {
  content: "\e904";
}

/* line 44, ../sass/_fonts.scss */
.icon-lock:before {
  content: "\e905";
}

/* line 47, ../sass/_fonts.scss */
.icon-security:before {
  content: "\e906";
}

/* line 50, ../sass/_fonts.scss */
.icon-house3:before {
  content: "\e900";
}

/* line 53, ../sass/_fonts.scss */
.icon-house4:before {
  content: "\e901";
}

/* line 56, ../sass/_fonts.scss */
.icon-house2:before {
  content: "\e902";
}

/* line 59, ../sass/_fonts.scss */
.icon-house:before {
  content: "\e903";
}

/* line 14, ../sass/_grid-customer.scss */
.grid-multi {
  margin-left: -20px;
  margin-right: -20px;
  zoom: 1;
}
/* line 50, ../sass/_media-queries_grid-system.scss */
.grid-multi:after {
  clear: both;
}
/* line 51, ../sass/_media-queries_grid-system.scss */
.grid-multi:before, .grid-multi:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 26, ../sass/_grid-customer.scss */
.grid-xs-1, .grid-sm-1, .grid-md-1, .grid-lg-1, .grid-xs-2, .grid-sm-2, .grid-md-2, .grid-lg-2, .grid-xs-3, .grid-sm-3, .grid-md-3, .grid-lg-3, .grid-xs-4, .grid-sm-4, .grid-md-4, .grid-lg-4, .grid-xs-5, .grid-sm-5, .grid-md-5, .grid-lg-5, .grid-xs-6, .grid-sm-6, .grid-md-6, .grid-lg-6, .grid-xs-7, .grid-sm-7, .grid-md-7, .grid-lg-7, .grid-xs-8, .grid-sm-8, .grid-md-8, .grid-lg-8, .grid-xs-9, .grid-sm-9, .grid-md-9, .grid-lg-9, .grid-xs-10, .grid-sm-10, .grid-md-10, .grid-lg-10, .grid-xs-11, .grid-sm-11, .grid-md-11, .grid-lg-11, .grid-xs-12, .grid-sm-12, .grid-md-12, .grid-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 43, ../sass/_grid-customer.scss */
.grid-xs-1, .grid-sm-1, .grid-md-1, .grid-lg-1, .grid-xs-2, .grid-sm-2, .grid-md-2, .grid-lg-2, .grid-xs-3, .grid-sm-3, .grid-md-3, .grid-lg-3, .grid-xs-4, .grid-sm-4, .grid-md-4, .grid-lg-4, .grid-xs-5, .grid-sm-5, .grid-md-5, .grid-lg-5, .grid-xs-6, .grid-sm-6, .grid-md-6, .grid-lg-6, .grid-xs-7, .grid-sm-7, .grid-md-7, .grid-lg-7, .grid-xs-8, .grid-sm-8, .grid-md-8, .grid-lg-8, .grid-xs-9, .grid-sm-9, .grid-md-9, .grid-lg-9, .grid-xs-10, .grid-sm-10, .grid-md-10, .grid-lg-10, .grid-xs-11, .grid-sm-11, .grid-md-11, .grid-lg-11, .grid-xs-12, .grid-sm-12, .grid-md-12, .grid-lg-12 {
  position: relative;
  min-height: 1px;
}

/* line 57, ../sass/_grid-customer.scss */
.grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5, .grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12 {
  float: left;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-1 {
  width: 8.33333%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-2 {
  width: 16.66667%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-3 {
  width: 25%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-4 {
  width: 33.33333%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-5 {
  width: 41.66667%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-6 {
  width: 50%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-7 {
  width: 58.33333%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-8 {
  width: 66.66667%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-9 {
  width: 75%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-10 {
  width: 83.33333%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-11 {
  width: 91.66667%;
}

/* line 64, ../sass/_grid-customer.scss */
.grid-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 57, ../sass/_grid-customer.scss */
  .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12 {
    float: left;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-1 {
    width: 8.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-2 {
    width: 16.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-3 {
    width: 25%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-4 {
    width: 33.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-5 {
    width: 41.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-6 {
    width: 50%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-7 {
    width: 58.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-8 {
    width: 66.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-9 {
    width: 75%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-10 {
    width: 83.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-11 {
    width: 91.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 57, ../sass/_grid-customer.scss */
  .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12 {
    float: left;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-1 {
    width: 8.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-2 {
    width: 16.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-3 {
    width: 25%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-4 {
    width: 33.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-5 {
    width: 41.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-6 {
    width: 50%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-7 {
    width: 58.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-8 {
    width: 66.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-9 {
    width: 75%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-10 {
    width: 83.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-11 {
    width: 91.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 57, ../sass/_grid-customer.scss */
  .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 {
    float: left;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-1 {
    width: 8.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-2 {
    width: 16.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-3 {
    width: 25%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-4 {
    width: 33.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-5 {
    width: 41.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-6 {
    width: 50%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-7 {
    width: 58.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-8 {
    width: 66.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-9 {
    width: 75%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-10 {
    width: 83.33333%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-11 {
    width: 91.66667%;
  }

  /* line 64, ../sass/_grid-customer.scss */
  .grid-lg-12 {
    width: 100%;
  }
}
/* line 132, ../sass/_grid-customer.scss */
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
/* line 136, ../sass/_grid-customer.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
/* line 141, ../sass/_grid-customer.scss */
.no-gutter > [class*='grid-'] {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

/* line 149, ../sass/_grid-customer.scss */
.no-gutter-container {
  padding-right: 0;
  padding-left: 0;
}

/* line 9, ../sass/_utilities.scss */
.clearfix {
  zoom: 1;
}
/* line 50, ../sass/_media-queries_grid-system.scss */
.clearfix:after {
  clear: both;
}
/* line 51, ../sass/_media-queries_grid-system.scss */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 13, ../sass/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 16, ../sass/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 25, ../sass/_utilities.scss */
.hide {
  display: none !important;
}

/* line 28, ../sass/_utilities.scss */
.show {
  display: block !important;
}

/* line 31, ../sass/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 40, ../sass/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 49, ../sass/_utilities.scss */
.affix {
  position: fixed;
}

/* line 1, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_type.scss */
h1, .h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 5, ../sass/_type.scss */
  h1, .h1 {
    font-size: 2rem;
  }
}

/* line 13, ../sass/_type.scss */
h2, .h2 {
  font-size: 2.75rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 13, ../sass/_type.scss */
  h2, .h2 {
    font-size: 1.5rem;
  }
}

/* line 19, ../sass/_type.scss */
h3, .h3 {
  font-size: 2.5rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 19, ../sass/_type.scss */
  h3, .h3 {
    font-size: 1rem;
  }
}

/* line 25, ../sass/_type.scss */
h4, .h4 {
  font-size: 2rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 25, ../sass/_type.scss */
  h4, .h4 {
    font-size: 0.5rem;
  }
}

/* line 31, ../sass/_type.scss */
h5, .h5 {
  font-size: 1.75rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 31, ../sass/_type.scss */
  h5, .h5 {
    font-size: 0.5rem;
  }
}

/* line 36, ../sass/_type.scss */
h6, .h6 {
  font-size: 1rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 36, ../sass/_type.scss */
  h6, .h6 {
    font-size: 0.5rem;
  }
}

/* line 1, ../sass/_theme-styles.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #4d4d4d;
  font-size: 1rem;
}

/* line 9, ../sass/_theme-styles.scss */
p {
  margin-bottom: 0.8rem;
  padding: 0;
  line-height: 1.5rem;
}

/* line 15, ../sass/_theme-styles.scss */
.container {
  margin: 0 auto;
}
@media screen and (min-width: 1590px) {
  /* line 15, ../sass/_theme-styles.scss */
  .container {
    max-width: 1590px;
  }
}

@media (min-width: 1200px) and (max-width: 1589px) {
  /* line 15, ../sass/_theme-styles.scss */
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  /* line 15, ../sass/_theme-styles.scss */
  .container {
    max-width: 992px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 761px) and (max-width: 991px) {
  /* line 15, ../sass/_theme-styles.scss */
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 15, ../sass/_theme-styles.scss */
  .container {
    max-width: 760px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 40, ../sass/_theme-styles.scss */
.mar-top30 {
  margin-top: 2rem;
}

/* line 44, ../sass/_theme-styles.scss */
.respon-img {
  max-width: 100%;
}

/* line 48, ../sass/_theme-styles.scss */
.wrapper {
  margin: 0 auto;
}

/* line 52, ../sass/_theme-styles.scss */
.bg-lightest {
  background: #f1f1f1;
}

/* line 56, ../sass/_theme-styles.scss */
.bg-gray11 {
  background: #e6e5e5;
}

/* line 60, ../sass/_theme-styles.scss */
.bg-mobile2 {
  background: #dad8d8;
}

/* line 64, ../sass/_theme-styles.scss */
.bg-lighter {
  background: #cfcdbe;
  padding-bottom: 2rem;
}

/* line 69, ../sass/_theme-styles.scss */
.bg-white {
  background: #fff;
}

/* line 73, ../sass/_theme-styles.scss */
.bg-gray-blue {
  background: #cfcdbe;
}

/* line 76, ../sass/_theme-styles.scss */
.bg-gray10 {
  background: #a0a0a0;
}

/* line 80, ../sass/_theme-styles.scss */
.form-input {
  background: #e7e7e7;
  border: none;
  color: #a6a6a6;
  padding: 0.5rem;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 1rem;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 94, ../sass/_theme-styles.scss */
select {
  padding: 0.5rem;
  -webkit-appearance: initial;
}

/* line 99, ../sass/_theme-styles.scss */
.select-form {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #e7e7e7;
  color: #a6a6a6;
  border: none;
  font-size: 1rem;
}

/* line 109, ../sass/_theme-styles.scss */
.dis-block {
  display: block;
}

/* line 115, ../sass/_theme-styles.scss */
.pad-block, .block-director, .about-us-page .bg-gray-blue {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 120, ../sass/_theme-styles.scss */
.block-director {
  color: #fff;
}
/* line 122, ../sass/_theme-styles.scss */
.block-director .title-page {
  color: #fff;
}
/* line 124, ../sass/_theme-styles.scss */
.block-director .title-page hr {
  background: #fff;
}

/* line 132, ../sass/_theme-styles.scss */
.about-us-page textarea {
  height: 212px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 135, ../sass/_theme-styles.scss */
  .about-us-page .bg-gray-blue {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* line 146, ../sass/_theme-styles.scss */
.contact-map {
  padding-bottom: 30px;
}
/* line 148, ../sass/_theme-styles.scss */
.contact-map .title-txt {
  padding-top: 30px;
}
/* line 150, ../sass/_theme-styles.scss */
.contact-map .title-txt > span {
  font-size: 16px;
  text-transform: none;
  margin-left: 20px;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* line 161, ../sass/_theme-styles.scss */
  .banner-page .respon-img {
    height: 300px;
  }
  /* line 163, ../sass/_theme-styles.scss */
  .banner-page .respon-img img {
    height: 100%;
  }
}

/* line 1, ../sass/page/_homepage.scss */
.header {
  background: #070707;
}

/* line 5, ../sass/page/_homepage.scss */
.block-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
/* line 10, ../sass/page/_homepage.scss */
.block-header .header {
  padding-left: 3.14465%;
  zoom: 1;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 10, ../sass/page/_homepage.scss */
  .block-header .header {
    padding-left: 0;
    background: #4d4d4d;
  }
}

/* line 50, ../sass/_media-queries_grid-system.scss */
.block-header .header:after {
  clear: both;
}
/* line 51, ../sass/_media-queries_grid-system.scss */
.block-header .header:before, .block-header .header:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 18, ../sass/page/_homepage.scss */
.block-header .header .left-header {
  width: 82.38994%;
  float: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
  line-height: 100%;
}
/* line 24, ../sass/page/_homepage.scss */
.block-header .header .left-header .txt-trust {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
/* line 30, ../sass/page/_homepage.scss */
.block-header .header .left-header .txt-phone {
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  text-align: right;
  float: right;
  padding-top: 1rem;
  margin-right: 0.5rem;
}
/* line 40, ../sass/page/_homepage.scss */
.block-header .header .left-header .txt-week {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e7e1a7;
  display: inline-block;
  text-align: right;
  float: right;
  padding-top: 1rem;
}
/* line 50, ../sass/page/_homepage.scss */
.block-header .header .right-header {
  width: 17.61006%;
  float: right;
  position: relative;
}

/* line 58, ../sass/page/_homepage.scss */
.humberger {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  float: right;
  padding: 2rem 18.04878% 3rem 1rem;
  width: 5rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 58, ../sass/page/_homepage.scss */
  .humberger {
    background: #4d4d4d;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* line 73, ../sass/page/_homepage.scss */
.humberger:hover, .humberger.active {
  background: #4d4d4d;
  padding-right: 18.04878%;
  padding-left: 1rem;
  margin: 0;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 73, ../sass/page/_homepage.scss */
  .humberger:hover, .humberger.active {
    padding-left: 1rem;
    background: #4d4d4d;
    padding-bottom: 0.5rem;
  }
}

/* line 85, ../sass/page/_homepage.scss */
.humberger > i {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

/* line 96, ../sass/page/_homepage.scss */
.menu-drop {
  position: absolute;
  right: 0;
  background: #4d4d4d;
  color: #fff;
}
/* line 102, ../sass/page/_homepage.scss */
.menu-drop ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 106, ../sass/page/_homepage.scss */
.menu-drop ul > li {
  list-style: none;
  padding: 10px 0 10px 20px;
  border-bottom: solid 1px #343434;
  position: relative;
}
/* line 111, ../sass/page/_homepage.scss */
.menu-drop ul > li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
/* line 116, ../sass/page/_homepage.scss */
.menu-drop ul > li .menu-child2 {
  position: absolute;
  background: #cfcdbe;
  top: 0;
}
/* line 120, ../sass/page/_homepage.scss */
.menu-drop ul > li .menu-child2 > li {
  font-weight: 400;
  border-bottom: solid 1px #f1f1f1;
  white-space: nowrap;
  text-align: right;
  padding-right: 20px;
}
/* line 126, ../sass/page/_homepage.scss */
.menu-drop ul > li .menu-child2 > li a {
  color: #4d4d4d;
}
/* line 130, ../sass/page/_homepage.scss */
.menu-drop ul > li .menu-child2:after {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #cfcdbe;
  border-bottom: 20px solid transparent;
  position: absolute;
  content: "";
  right: -20px;
  top: 0;
}

/* line 148, ../sass/page/_homepage.scss */
.dis-none {
  display: none;
}

/* line 156, ../sass/page/_homepage.scss */
.home-block {
  background: #fff;
  margin-top: -5%;
  position: relative;
  z-index: 4;
}
/* line 161, ../sass/page/_homepage.scss */
.home-block .block-house {
  display: table;
  width: 100%;
}
/* line 164, ../sass/page/_homepage.scss */
.home-block .block-house .block-house1,
.home-block .block-house .block-house2,
.home-block .block-house .block-house3,
.home-block .block-house .block-house4 {
  display: table-cell;
  width: 25%;
  vertical-align: middle;
  text-align: center;
}
/* line 173, ../sass/page/_homepage.scss */
.home-block .block-house .block-element {
  cursor: pointer;
  position: relative;
}
/* line 176, ../sass/page/_homepage.scss */
.home-block .block-house .block-element:hover .house-element {
  border-color: #cfcdbe;
  color: #cfcdbe;
  transform: scale(1.1);
}
/* line 184, ../sass/page/_homepage.scss */
.home-block .block-house .block-element:hover .txt-title {
  color: #cfcdbe;
}
/* line 188, ../sass/page/_homepage.scss */
.home-block .block-house .block-element + .block-element {
  border-left: solid 1px #191919;
}
/* line 192, ../sass/page/_homepage.scss */
.home-block .block-house .block-element:after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f1f1f1;
  position: absolute;
  content: "";
  right: -20px;
  bottom: 0;
  z-index: 2;
}
/* line 205, ../sass/page/_homepage.scss */
.home-block .block-house .block-element:last-child:after {
  border-bottom: 0;
}
/* line 210, ../sass/page/_homepage.scss */
.home-block .block-house .house-element {
  transition: all .2s ease-in-out;
  width: 70%;
  border-bottom: solid 1px #636363;
  padding-bottom: 1.5rem;
  margin: 1.5rem auto 0;
  font-size: 5rem;
  color: #4d4d4d;
}
/* line 219, ../sass/page/_homepage.scss */
.home-block .block-house .txt-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  z-index: 2;
  line-height: 100%;
}

/* line 236, ../sass/page/_homepage.scss */
.rslides_tabs {
  position: absolute;
  bottom: 20%;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  list-style: none;
  margin: 0 auto;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 236, ../sass/page/_homepage.scss */
  .rslides_tabs {
    bottom: 15px;
  }
}

/* line 247, ../sass/page/_homepage.scss */
.rslides_tabs li {
  text-indent: -99999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background: #4d4d4d;
  margin: 0 5px;
}
/* line 255, ../sass/page/_homepage.scss */
.rslides_tabs li a {
  display: block;
}
/* line 258, ../sass/page/_homepage.scss */
.rslides_tabs li.rslides_here {
  background: #cfcdbe;
}

/* line 265, ../sass/page/_homepage.scss */
.logo-main {
  float: left;
}

/* line 269, ../sass/page/_homepage.scss */
.txt-trust {
  float: left;
  padding-top: 1rem;
  padding-left: 1.4rem;
}

/* line 275, ../sass/page/_homepage.scss */
.title-txt {
  border-bottom: solid 1px #595959;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: 100%;
}

/* line 284, ../sass/page/_homepage.scss */
.form-homepage {
  padding: 0 30px;
  padding-bottom: 20px;
  background: #f1f1f1;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 284, ../sass/page/_homepage.scss */
  .form-homepage {
    padding: 20px 0 0;
  }
}

/* line 292, ../sass/page/_homepage.scss */
.form-homepage.after-parellex {
  position: relative;
  bottom: -80px;
  z-index: 2;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 292, ../sass/page/_homepage.scss */
  .form-homepage.after-parellex {
    bottom: 0;
  }
}

/* line 301, ../sass/page/_homepage.scss */
.form-homepage .about-us {
  padding-right: 20px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 301, ../sass/page/_homepage.scss */
  .form-homepage .about-us {
    padding-right: 0;
  }
}

/* line 307, ../sass/page/_homepage.scss */
.form-homepage .form-contact {
  padding-left: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 307, ../sass/page/_homepage.scss */
  .form-homepage .form-contact {
    padding: 0;
  }
}

/* line 316, ../sass/page/_homepage.scss */
.btn-submit {
  float: right;
}

/* line 322, ../sass/page/_homepage.scss */
.parallax-content {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 322, ../sass/page/_homepage.scss */
  .parallax-content {
    height: 100%;
    width: auto;
  }
}

/* line 331, ../sass/page/_homepage.scss */
.parallax-content img {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 331, ../sass/page/_homepage.scss */
  .parallax-content img {
    position: static;
    max-width: 100%;
    display: block;
  }
}

/* line 346, ../sass/page/_homepage.scss */
.txt-header {
  border-bottom: solid 1px #565655;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-transform: uppercase;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 100%;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 346, ../sass/page/_homepage.scss */
  .txt-header {
    width: 100%;
    text-align: left;
  }
}

/* line 364, ../sass/page/_homepage.scss */
.txt-year {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
}
@media (min-width: 761px) and (max-width: 991px) {
  /* line 364, ../sass/page/_homepage.scss */
  .txt-year {
    font-size: 2rem;
  }
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 364, ../sass/page/_homepage.scss */
  .txt-year {
    font-size: 2rem;
  }
}

/* line 376, ../sass/page/_homepage.scss */
.footer {
  background: #4d4d4d;
}
/* line 378, ../sass/page/_homepage.scss */
.footer .footer-copy {
  background: #272626;
  padding: 0.5rem 0;
  text-align: center;
}
/* line 382, ../sass/page/_homepage.scss */
.footer .footer-copy .txt-copyright {
  width: 50%;
  margin: 0 auto;
  font-size: 0.8rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 382, ../sass/page/_homepage.scss */
  .footer .footer-copy .txt-copyright {
    width: 100%;
  }
}

/* line 391, ../sass/page/_homepage.scss */
.footer .footer-top {
  width: 60%;
  padding-bottom: 1rem;
  margin: 0 auto;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 391, ../sass/page/_homepage.scss */
  .footer .footer-top {
    width: 100%;
  }
}

/* line 398, ../sass/page/_homepage.scss */
.footer .footer-top .txt-footer {
  color: #f1f1f1;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  line-height: 100%;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 398, ../sass/page/_homepage.scss */
  .footer .footer-top .txt-footer {
    text-align: left;
  }
}

/* line 410, ../sass/page/_homepage.scss */
.footer .footer-top .txt-footer:after {
  content: "";
  background: #f1f1f1;
  height: 1px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 410, ../sass/page/_homepage.scss */
  .footer .footer-top .txt-footer:after {
    width: 100%;
  }
}

/* line 425, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer {
  color: #fff;
}
/* line 427, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 431, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer ul li {
  padding: 0.5rem 0;
}
/* line 433, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer ul li a {
  text-decoration: none;
  color: #fff;
}
/* line 439, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer .link-social {
  margin-bottom: 1rem;
}
/* line 441, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer .link-social .cirlce {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  line-height: 100%;
  padding: 0.5rem;
}
/* line 452, ../sass/page/_homepage.scss */
.footer .footer-top .txt-link-footer .link-social .cirlce > i {
  color: #4d4d4d;
}

/* line 461, ../sass/page/_homepage.scss */
.banner-page {
  width: auto;
  overflow: hidden;
  text-align: center;
}

/* line 2, ../sass/page/_service.scss */
.service-page .block-our {
  background: #a0a0a0 url("../images/lock-service.png") no-repeat right center;
  background-size: 55% auto;
}
/* line 5, ../sass/page/_service.scss */
.service-page .block-our .txt-our {
  font-size: 1.5rem;
  color: #fff;
  padding: 3rem 0;
  line-height: 100%;
}
/* line 12, ../sass/page/_service.scss */
.service-page .bg-gray-blue {
  padding-bottom: 1.5rem;
}
/* line 13, ../sass/page/_service.scss */
.service-page .bg-gray-blue textarea {
  height: 212px;
}
/* line 16, ../sass/page/_service.scss */
.service-page .bg-gray-blue .btn-submit {
  float: right;
  border: solid 1px #fff;
  color: #fff;
}

/* line 25, ../sass/page/_service.scss */
.block-1 {
  padding: 0 0 1.5rem;
}

/* line 29, ../sass/page/_service.scss */
.title-page {
  padding-top: 1.5rem;
}
/* line 31, ../sass/page/_service.scss */
.title-page > i {
  font-size: 5rem;
  color: #4d4d4d;
  display: inline-block;
  vertical-align: middle;
}
/* line 36, ../sass/page/_service.scss */
.title-page > i + .txt {
  margin-left: 0.5rem;
}
/* line 40, ../sass/page/_service.scss */
.title-page .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 48, ../sass/page/_service.scss */
.title-page hr {
  background: #5a5a5a;
  height: 1px;
  width: 15%;
  margin: 1rem 0;
  border: none;
}

/* line 57, ../sass/page/_service.scss */
.container-service ul {
  list-style: none;
}
/* line 59, ../sass/page/_service.scss */
.container-service ul li {
  list-style: none;
  padding: 0.2rem 0;
}

/* line 66, ../sass/page/_service.scss */
.button-read {
  padding: 1rem 0;
}
/* line 68, ../sass/page/_service.scss */
.button-read .btn, .button-read .read-more .more-link, .read-more .button-read .more-link,
.button-read .read-more .less-link,
.read-more .button-read .less-link,
.button-read .read-less .more-link,
.read-less .button-read .more-link,
.button-read .read-less .less-link,
.read-less .button-read .less-link {
  margin-right: 1rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 68, ../sass/page/_service.scss */
  .button-read .btn, .button-read .read-more .more-link, .read-more .button-read .more-link,
  .button-read .read-more .less-link,
  .read-more .button-read .less-link,
  .button-read .read-less .more-link,
  .read-less .button-read .more-link,
  .button-read .read-less .less-link,
  .read-less .button-read .less-link {
    margin-right: 0;
  }
  /* line 72, ../sass/page/_service.scss */
  .button-read .btn + .btn, .button-read .read-more .more-link + .btn, .read-more .button-read .more-link + .btn,
  .button-read .read-more .less-link + .btn,
  .read-more .button-read .less-link + .btn,
  .button-read .read-less .more-link + .btn,
  .read-less .button-read .more-link + .btn,
  .button-read .read-less .less-link + .btn,
  .read-less .button-read .less-link + .btn, .button-read .read-more .btn + .more-link, .read-more .button-read .btn + .more-link, .button-read .read-more .more-link + .more-link, .read-more .button-read .more-link + .more-link,
  .button-read .read-more .less-link + .more-link,
  .read-more .button-read .less-link + .more-link,
  .button-read .read-more .btn + .less-link,
  .read-more .button-read .btn + .less-link,
  .button-read .read-more .more-link + .less-link,
  .read-more .button-read .more-link + .less-link,
  .button-read .read-more .less-link + .less-link,
  .read-more .button-read .less-link + .less-link,
  .button-read .read-less .btn + .more-link,
  .read-less .button-read .btn + .more-link,
  .button-read .read-less .more-link + .more-link,
  .read-less .button-read .more-link + .more-link,
  .button-read .read-less .less-link + .more-link,
  .read-less .button-read .less-link + .more-link,
  .button-read .read-less .btn + .less-link,
  .read-less .button-read .btn + .less-link,
  .button-read .read-less .more-link + .less-link,
  .read-less .button-read .more-link + .less-link,
  .button-read .read-less .less-link + .less-link,
  .read-less .button-read .less-link + .less-link {
    margin-top: 1rem;
  }
}

/* line 79, ../sass/page/_service.scss */
.block-service1 {
  background: #fff url("../images/bg-service1.png") no-repeat right center;
  background-size: auto 100%;
  padding-bottom: 1rem;
  position: relative;
}
@media (min-width: 761px) and (max-width: 991px) {
  /* line 79, ../sass/page/_service.scss */
  .block-service1 {
    background: #fff;
  }
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 79, ../sass/page/_service.scss */
  .block-service1 {
    background: none;
    padding-bottom: 0;
  }
}

/* line 92, ../sass/page/_service.scss */
.block-service2 {
  background: #f1f1f1 url("../images/bg-service2.png") no-repeat right center;
  background-size: auto 100%;
  padding-bottom: 1rem;
  position: relative;
}
@media (min-width: 761px) and (max-width: 991px) {
  /* line 92, ../sass/page/_service.scss */
  .block-service2 {
    background: #f1f1f1;
  }
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 92, ../sass/page/_service.scss */
  .block-service2 {
    background: #f1f1f1;
    padding-bottom: 0;
  }
}

/* line 106, ../sass/page/_service.scss */
.block-service3 {
  background: #e6e5e5 url("../images/bg-service3.png") no-repeat right center;
  background-size: auto 100%;
  padding-bottom: 1rem;
  position: relative;
}
@media (min-width: 761px) and (max-width: 991px) {
  /* line 106, ../sass/page/_service.scss */
  .block-service3 {
    background: #e6e5e5;
  }
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 106, ../sass/page/_service.scss */
  .block-service3 {
    background: #e6e5e5;
    padding-bottom: 0;
  }
}

/* line 1, ../sass/page/_blog.scss */
.content-faq {
  padding: 2rem 1rem;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 1, ../sass/page/_blog.scss */
  .content-faq {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 6, ../sass/page/_blog.scss */
  .content-faq .blog-element-faq {
    margin-bottom: 2rem;
  }
}

/* line 12, ../sass/page/_blog.scss */
.blog-element-faq {
  background: #fff;
  padding: 1rem;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  margin-bottom: 30px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 12, ../sass/page/_blog.scss */
  .blog-element-faq {
    padding: 1rem;
    margin-bottom: 0;
  }
}

/* line 25, ../sass/page/_blog.scss */
.blog-element-faq .btn-blog {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 25, ../sass/page/_blog.scss */
  .blog-element-faq .btn-blog {
    position: static;
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}

/* line 38, ../sass/page/_blog.scss */
.content-blog {
  background: #e6e5e5;
  padding: 2rem 0 0;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 38, ../sass/page/_blog.scss */
  .content-blog {
    padding: 1rem 0 0;
  }
}

/* line 45, ../sass/page/_blog.scss */
.content-blog .block-toggle .btn-blog {
  margin-bottom: 1.5rem;
}
/* line 49, ../sass/page/_blog.scss */
.content-blog .article-blog {
  width: 80%;
  border-bottom: solid 1px #585858;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media (min-width: 1px) and (max-width: 760px) {
  /* line 49, ../sass/page/_blog.scss */
  .content-blog .article-blog {
    width: 100%;
  }
}

/* line 58, ../sass/page/_blog.scss */
.content-blog .article-blog .header-title .title-article {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
}
/* line 63, ../sass/page/_blog.scss */
.content-blog .article-blog .header-title .date-time {
  font-size: 14px;
  color: #989898;
  margin-bottom: 5px;
}

/* line 2, ../sass/page/_mobile.scss */
.header-mobile {
  color: #fff;
  float: left;
  padding-top: 5px;
  padding-left: 20px;
}
/* line 7, ../sass/page/_mobile.scss */
.header-mobile .hotline {
  font-weight: 700;
  font-size: 1.5rem;
}
/* line 11, ../sass/page/_mobile.scss */
.header-mobile .week-mobile {
  font-size: 1rem;
  font-weight: 700;
  color: #e7e1a7;
}

/* line 18, ../sass/page/_mobile.scss */
.container-logo {
  background: #fff;
  text-align: center;
  color: #4d4d4d;
  padding: 20px 0;
}
/* line 23, ../sass/page/_mobile.scss */
.container-logo a {
  text-decoration: none;
  font-size: 30px;
  color: #4d4d4d;
}
/* line 28, ../sass/page/_mobile.scss */
.container-logo .txt-sologan {
  text-transform: uppercase;
  font-size: #f-size;
}

/* line 35, ../sass/page/_mobile.scss */
.arrown-mobile {
  display: none;
}

@media (min-width: 1px) and (max-width: 760px) {
  /* line 42, ../sass/page/_mobile.scss */
  .service-page .block-toggle .dis-block {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 48, ../sass/page/_mobile.scss */
  .banner-page {
    overflow: hidden;
  }
  /* line 50, ../sass/page/_mobile.scss */
  .banner-page .respon-img {
    max-width: none;
    width: auto;
    max-height: 200px;
  }

  /* line 62, ../sass/page/_mobile.scss */
  .block-header .container {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* line 69, ../sass/page/_mobile.scss */
  .rslides li img {
    height: 200px;
    width: auto;
    text-align: center;
  }

  /* line 79, ../sass/page/_mobile.scss */
  .block-toggle .icon-four {
    font-size: 4rem;
    color: #4d4d4d;
    float: left;
    margin-right: 10px;
  }
  /* line 85, ../sass/page/_mobile.scss */
  .block-toggle .txt-four-block {
    color: #4d4d4d;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  /* line 92, ../sass/page/_mobile.scss */
  .block-toggle .header-toggle {
    border-bottom: solid 1px #d2d1c3;
    padding-bottom: 20px;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    cursor: pointer;
  }
  /* line 101, ../sass/page/_mobile.scss */
  .block-toggle .header-toggle hr {
    height: 0;
    margin: 0;
  }
  /* line 105, ../sass/page/_mobile.scss */
  .block-toggle .header-toggle .arrown-mobile {
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }
  /* line 113, ../sass/page/_mobile.scss */
  .block-toggle .conten-toggle {
    padding: 20px;
    display: none;
    background: #fff;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
  }
  /* line 121, ../sass/page/_mobile.scss */
  .block-toggle .dis-block {
    display: block;
  }

  /* line 127, ../sass/page/_mobile.scss */
  .form-contact-mobile .header-toggle {
    background: #cfcdbe;
  }

  /* line 133, ../sass/page/_mobile.scss */
  .title-mobile {
    margin-top: 1rem;
  }
  /* line 135, ../sass/page/_mobile.scss */
  .title-mobile i {
    font-size: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}
