.btn {
	padding: 0.5rem 1.5rem;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: $f-bold;
	text-decoration: none;
	color: $gray4;
}

.btn-outline {
	border: solid 1px $gray4;
	&:hover {
		background: $gray4;
		color: $white;
		border: solid 1px $gray4;
	}
}

.read-more,
.read-less {
	display: block;
	margin-top: 1rem;
	.more-link,
	.less-link {
		@extend .btn;
		@extend .btn-outline;
		margin-right: 0.5rem;
	}
}