body {
	margin: 0;
	padding: 0;
	font-family: $font-main;
	color: $gray-light;
	font-size: 1rem;
}

p {
	margin-bottom: 0.8rem;
	padding: 0;
	line-height: 1.5rem;
}

.container {
	margin: 0 auto;
	@include media($bs-xxlg...) {
		max-width: $xxlg;
	}
	@include media($bs-lg...) {
		max-width: $lg;
	}
	@include media($bs-md...) {
		max-width: $md;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include media($bs-sm...) {
		max-width: $sm;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include media($bs-xs...) {
		max-width: $xs;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.mar-top30 {
	margin-top: $mg30;
}

.respon-img {
	max-width: 100%;
}

.wrapper {
	margin: 0 auto;
}

.bg-lightest {
	background: $gray-lightest;
}

.bg-gray11 {
	background: $gray11;
}

.bg-mobile2 {
	background: $c-mobile2;
}

.bg-lighter {
	background: $gray-lighter;
	padding-bottom: $pd30;
}

.bg-white {
	background: $white;
}

.bg-gray-blue {
	background: $gray-blue;
}
.bg-gray10 {
	background: $gray10;
}

.form-input {
	background: $gray5;
	border: none;
	color: $gray6;
	padding: 10px;
	text-transform: capitalize;
	width: 100%;
	margin-bottom: 1rem;
	font-family: $font-main;
	font-size: 1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.select-form {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	background: $gray5;
	color: $gray6;
	border: none;
	font-size: 1rem;
}

.dis-block {
	display: block;
}

// Page About us

.pad-block {
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-director {
	@extend .pad-block;
	.title-page {
		color: $white;
		hr {
			background: $white;
		}
	}
	color: $white;
}

.about-us-page {
	textarea {
		height: 212px;
	}
	.bg-gray-blue {
		@extend .pad-block;
		@include media($bs-xs...) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

// Map contact

.contact-map {
	padding-bottom: 30px;
	.title-txt {
		padding-top: 30px;
		> span {
			font-size: $f-size;
			text-transform: none;
			margin-left: 20px;
			font-weight: $f-normal;
		}
	}
}

.banner-page {
	@include media($bs-sm-md...) {
		.respon-img {
			height: 300px;
			img {
				height: 100%;
			}
		}
	}
	
}