.content-faq {
	padding: $pd30 $pd20;
}

.blog-element-faq{
	background: $white;
	padding: $pd20;
	height: 100%;
	@include box-sizing(border-box);
	position: relative;
	overflow: auto;
	padding-bottom: 70px;
	.btn-blog {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
}

.content-blog {
	background: $gray11;
	padding: $pd30 0 0;
	.article-blog {
		width: 80%;
		border-bottom: solid 1px $gray12;
		padding-bottom: 30px;
		margin-bottom: 30px;
		.header-title {
			.title-article {
				font-weight: $f-bold;
				text-transform: uppercase;
				font-size: $f-size + 10;
			}
			.date-time {
				font-size: $f-size - 2;
				color: $gray13;
				margin-bottom: 5px;
			}
		}
	}
}