.header {
  background: $c-base;
}

.block-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	.header {
		padding-left: percentage(50/1590);
		
		@include media($bs-xs...) {
			padding-left: 0;
			background: $gray-light;
		}
		@include clearfix;
		.left-header {
			width: percentage(1310/1590);
			float: left;
			padding-top: 2rem;
			padding-bottom: 1rem;
			.txt-trust {
				font-size: 1rem;
				color: $white;
				text-transform: uppercase;
				display: inline-block;
			}
			.txt-phone {
				font-size: 1.75rem;
				font-weight: $f-bold;
				color: $white;
				display: inline-block;
				text-align: right;
				float: right;
				padding-top: $pd20;
				margin-right: $pd20/2;
			}
			.txt-week {
				font-size: 1.5rem;
				font-weight: $f-bold;
				color: $yallow;
				display: inline-block;
				text-align: right;
				float: right;
				padding-top: $pd20;
			}
		}
		.right-header {
			width: percentage(280/1590);
			float: right;
			position: relative;
		}
	}
}

.humberger {
	color: $white;
	text-transform: uppercase;
	font-size: 1rem;
	text-decoration: none;
	font-weight: $f-bold;
	float: right;
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-left: $pd20;
	margin-right: percentage(37/205);
	width: 5rem;
	@include media($bs-xs...) {
		background: $gray-light;
		padding-top: $pd20/2;
		padding-bottom: $pd20/2;
		padding-left: $pd20/2;
	}
	&:hover,
	&.active {
		background: $gray-light;
		padding-right: percentage(37/205);
		padding-left: $pd20;
		margin: 0;
		@include media($bs-xs...) {
			padding-left: $pd20;
			background: $gray-light;
			padding-bottom: $pd20/2;
		}
	}
	> i {
		margin-right: $pd20/2;
		font-size: 1.6rem;
	}
}


// Menu header
// 


.menu-drop {
	position: absolute;
	right: 0;
	background: $gray-light;
	color: $white;

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			list-style: none;
			padding: 10px 0 10px 20px;
			border-bottom: solid 1px $drak-gray;
			position: relative;
			a {
				color: $white;
				text-decoration: none;
				font-weight: $f-bold;
			}
			.menu-child2 {
				position: absolute;
				background: $gray-lighter;
				top: 0;
				>li {
					font-weight: $f-normal;
					border-bottom: solid 1px $gray-lightest;
					white-space: nowrap;
					text-align: right;
					padding-right: 20px;
					a {
						color: $gray-light;
					}
				}
				&:after{
					width: 0; 
					height: 0; 
					border-top: 20px solid transparent; 
					border-left: 20px solid $gray-lighter; 
					border-bottom: 20px solid transparent;
					position: absolute;
					content: "";
					right: -20px;
					top: 0;
				}

			}
		}
	}

}

.dis-none {
	display: none;
}


// Four Block Homepage
// 

.home-block {
	background: $white;
	margin-top: -5%;
    position: relative;
    z-index: 4;
	.block-house {
		display: table;
		width: 100%;
		.block-house1,
		.block-house2,
		.block-house3,
		.block-house4 {
			display: table-cell;
			width: 25%;
			vertical-align: middle;
			text-align: center;
		}
		.block-element {
			+ .block-element {
				border-left: solid 1px $drakest-gray;
			}
			position: relative;
			&:after {
				width: 0; 
				height: 0;
				border-left: 20px solid transparent; 
				border-right: 20px solid transparent; 
				border-bottom: 20px solid $gray-lightest;
				position: absolute;
				content: "";
				right: -20px;
				bottom: 0;
				z-index: 2;
			}
			&:last-child {
				&:after {
					border-bottom: 0;
				}
			}
		}
		.house-element {
			width: 70%;
			border-bottom: solid 1px $gray2;
			padding-bottom: 1.5rem;
			margin: 1.5rem auto 0;
			font-size: 5rem;
			color: $gray-light;
		}
		.txt-title {
			font-size: 1.4rem;
			font-weight: $f-bold;
			text-transform: uppercase;
			color: $gray-light;
			padding-top: 1rem;
			padding-bottom: 1.5rem;
			z-index: 2;
			line-height: 100%;

		}
	}
}
// 
// Arrown Slide
// 

.rslides_tabs  {
  position: absolute;
  bottom: 40px;
  z-index: 3;
  left: 50%;
  @include translate(-50%,0);
  list-style: none;
  margin: 0 auto;
  @include media($bs-xs...) {
  	bottom: 15px;
  }
  li {
  	text-indent: -99999px;
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	@include border-radius(100%);
  	background: $gray-light;
  	margin: 0 5px;
  	a {
  		display: block;
  	}
  	&.rslides_here {
  		background: $gray-lighter;
  	}
  }
}


.logo-main {
	float: left;
}

.txt-trust {
	float: left;
	padding-top: 1rem;
	padding-left: 1.4rem;
}

.title-txt {
	border-bottom: solid 1px $gray3;
	text-transform: uppercase;
	font-weight: $f-bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 100%;
}

.form-homepage {
	padding: 0 30px;
	padding-bottom: 20px;
	background: $gray-lightest;
	@include media($bs-xs...) {
		padding: 20px 0 0;
	}

	&.after-parellex {
		position: relative;
		bottom: -80px;
		z-index: 2;
		@include media($bs-xs...) {
			bottom: 0;
		}
	}

	.about-us {
		padding-right: 20px;
		@include media($bs-xs...) {
			padding-right: 0;
		}
	}
	.form-contact {
		padding-left: 20px;
		padding-bottom: 20px;
		@include media($bs-xs...) {
			padding: 0;
		}
	}
}

.btn-submit {
	float: right;
}

// Parallax
// 
.parallax-content{
	position: relative;
	width: auto;
	height: 600px;
	overflow: hidden;
	@include media($bs-sm...) {
		width: auto;
		height: 300px;
	}
	@include media($bs-xs...) {
		width: auto;
		height: 300px;
	}
	img {
		bottom: 0;
		left: 0;
		position: absolute;
		max-width: none;
		@include media($bs-sm...) {
			width: auto;
			height: 320px;
		}
		@include media($bs-xs...) {
			width: auto;
			height: 400px;
		}
	}
}

// end

.txt-header {
	border-bottom: solid 1px $gray7;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	text-transform: uppercase;
	width: 30%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: $f-bold;
	margin-bottom: 1rem;
	line-height: 100%;
	@include media($bs-xs...) {
		width: 100%;
		text-align: left;
	}
}

.txt-year {
	font-size: 3rem;
	font-weight: $f-bold;
	line-height: 100%;
	@include media($bs-sm...) {
		font-size: 2rem;
	}
	@include media($bs-xs...) {
		font-size: 2rem;
	}
}

.footer {
	background: $gray-light;
	.footer-copy {
		background: $gray8;
		padding: 0.5rem 0;
		text-align: center;
		.txt-copyright {
			width: 50%;
			margin: 0 auto;
			font-size: 0.8rem;
			@include media($bs-xs...) {
				width: 100%;
			}
		}
	}
	.footer-top {
		width: 60%;
		@include media($bs-xs...) {
			width: 100%;
		}
		margin: 0 auto;
		.txt-footer {
			color: $gray-lightest;
			font-size: 1.5rem;
			text-transform: uppercase;
			position: relative;
			text-align: center;
			padding: 2rem 0;
			margin-bottom: 2rem;
			line-height: 100%;
			@include media($bs-xs...) {
				text-align: left;
			}
			&:after {
				content: "";
				background: $gray-lightest;
				height: 1px;
				position: absolute;
				bottom: 0;
				margin: 0 auto;
				width: 60%;
				left: 50%;
				@include translate(-50%,0);
				@include media($bs-xs...) {
					width: 100%;
				}
			}
		}
		.txt-link-footer {
			color: $white;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					padding: 1rem 0;
					a {
						text-decoration: none;
						color: $white;
					}
				}
			}
			.link-social {
				margin-bottom: 1rem;
				.cirlce {
					@include border-radius(100%);
					background: $white;
					display: inline-block;
					text-align: center;
					vertical-align: middle;
					width: 1.5rem;
					height: 1.5rem;
					font-size: 1.5rem;
					line-height: 100%;
					> i {
						color: $gray-light;
					}
				}
			}
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  

}