
.header-mobile {
	color: $white;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	.hotline {
		font-weight: $f-bold;
		font-size: 1.5rem;
	}
	.week-mobile {
		font-size: 1rem;
		font-weight: $f-bold;
		color: $yallow;
	}
}

.container-logo {
	background: $white;
	text-align: center;
	color: $gray-light;
	padding: 20px 0;
	a {
		text-decoration: none;
		font-size: 30px;
		color: $gray-light;
	}
	.txt-sologan{
		text-transform: uppercase;
		font-size: #f-size;
	}
}


.arrown-mobile {
	display: none;
}

@include media($bs-xs...) {

	.banner-page {
		overflow: hidden;
		.respon-img {
			max-width: none;
			width: auto;
			max-height: 200px;
		}
	}

	// Homepage
	// 
	

	.block-header {
		.container {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	.rslides {
		li {
			img {
				height: 200px;
				width: auto;
				text-align: center;
			}
		}
	}

	
	.block-toggle {		
		.icon-four {
			font-size: 60px;
			color: $gray-light;
			float: left;
			margin-right: 10px;
		}
		.txt-four-block {
			color: $gray-light;
			float: left;
			font-size: $f-size + 4;
			font-weight: $f-bold;
			text-transform: uppercase;
		}
		.header-toggle {
			border-bottom: solid 1px $c-mobile1;
			padding-bottom: 20px;
			margin: 0 -20px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			position: relative;
			hr {
				height: 0;
				margin: 0;
			}
			.arrown-mobile {
				font-size: $f-size + 6;
				position: absolute;
				right: 20px;
				top: 20px;
				display: block;
			}
		}
		.conten-toggle {
			padding: 20px;
			display: none;
			background: $white;
			margin-left: -$mg20;
			margin-right: -$mg20;
		}

		.dis-block {
			display: block;
		}
	}

	.form-contact-mobile {
		.header-toggle {
			background: $gray-lighter;
		}
	}
	// End
	// 
	.title-mobile {
		margin-top: $mg20;
		i {
			font-size: 60px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}