
.header-mobile {
	color: $white;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	.hotline {
		font-weight: $f-bold;
		font-size: $f-size + 6;
	}
	.week-mobile {
		font-size: $f-size;
		font-weight: $f-bold;
		color: $yallow;
	}
}

.container-logo {
	background: $white;
	text-align: center;
	color: $gray-light;
	padding: 20px 0;
	a {
		text-decoration: none;
		font-size: 30px;
		color: $gray-light;
	}
	.txt-sologan{
		text-transform: uppercase;
		font-size: #f-size;
	}
}

@include media($bs-xs...) {

	// Homepage
	// 
	// 
	.block-header {
		.container {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	.rslides {
		li {
			img {
				height: 200px;
				width: auto;
				text-align: center;
			}
		}
	}

	.four-block {
		.block-security {
			padding: 20px 0;
			border-bottom: solid 1px $c-mobile1;
			.icon-four {
				font-size: 60px;
				color: $gray-light;
				float: left;
				margin-right: 10px;
			}
			.txt-four-block {
				color: $gray-light;
				float: left;
				font-size: $f-size + 4;
				font-weight: $f-bold;
				text-transform: uppercase;
			}
			.arrown-mobile {
				float: right;
				font-size: $f-size + 6;
			}
		}
	}

	// End
}