.service-page {
	.block-our {
		background: $gray10 url("../images/lock-service.png") no-repeat right center;
		background-size: 55% auto;
		.txt-our {
			font-size: 1.5rem;
			color: $white;
			padding: 3rem 0;
			line-height: 100%;
		}
	}
	.bg-gray-blue {
		textarea {
			height: 212px;
		}
		.btn-submit {
			float: right;
			border: solid 1px $white;
			color: $white;
		}
		padding-bottom: 1.5rem;
	}
}

.block-1 {
	padding: 0 0 1.5rem;
}

.title-page {
	padding-top: 1.5rem;
	> i {
		font-size: 5rem;
		color: $gray-light;
		display: inline-block;
		vertical-align: middle;
		+ .txt {
			margin-left: 0.5rem;
		}
	}
	.txt {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5rem;
		line-height: 100%;
		text-transform: uppercase;
		font-weight: $f-bold;
	}
	hr {
		background: $gray9;
		height: 1px;
		width: 15%;
		margin: 1rem 0;
		border: none;
	}
}
.container-service {
	ul {
		list-style: none;
		li {
			list-style: none;
			padding: 0.2rem 0;
		}
	}
}

.button-read {
	padding: 1rem 0;
	.btn {
		margin-right: 1rem;
		@include media($bs-xs...) {
			+ .btn {
				margin-top: 1rem;
			}
		}
	}
}

.block-service1 {
	background: $white url("../images/bg-service1.png") no-repeat right center;
	background-size: auto 100%;
	padding-bottom: 1rem;
	position: relative;
	@include media($bs-sm...) {
		background: $white;
	}
	@include media($bs-xs...) {
		background: none;
		padding-bottom: 0;
	}
}
.block-service2 {
	background: $gray-lightest url("../images/bg-service2.png") no-repeat right center;
	background-size: auto 100%;
	padding-bottom: 1rem;
	position: relative;
	@include media($bs-sm...) {
		background: $gray-lightest;
	}
	@include media($bs-xs...) {
		background: $gray-lightest;
		padding-bottom: 0;
	}
}

.block-service3 {
	background: $gray11 url("../images/bg-service3.png") no-repeat right center;
	background-size: auto 100%;
	padding-bottom: 1rem;
	position: relative;
	@include media($bs-sm...) {
		background: $gray11;
	}
	@include media($bs-xs...) {
		background: $gray11;
		padding-bottom: 0;
	}
}